body {
    background-color: red;
}

.header { /* Ritocca tra poco, vai avanti per ora */
    justify-content: center;   
}

.container { /* Il conteiner racchiude al suo interno gli elementi che devi indicare con "flex-items"*/
    display: flex;
    justify-content: center;
    background-color: white;
    
}

.container2 { /* Il conteiner racchiude al suo interno gli elementi che devi indicare con "flex-items"*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    margin: -20px;
    padding: 50px;
}

.container3 { /* Il conteiner racchiude al suo interno gli elementi che devi indicare con "flex-items"*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    margin: -20px;
    padding: 50px;
}

.jcaround {
  justify-content: space-around;
  
}

.divboxcellscenter {
    justify-content: center;
}

.divboximgcolor {
    background-color: black;
}

.jcimgstart {
  justify-content: flex-start;
  flex-direction: row;
}

.jctextend {
  justify-content: flex-end;
  flex-direction: low;
}

.imgsize {
  width:100px;
  height:100px;
}

.card-length {
  length: 120px;
}



  
  